:root {
  font-size: 16px;
}

.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans-bold {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: rebeccapurple;
}

header {
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: aqua;
}

button {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: aqua;
}

main {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

#contentContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 700px;
  height: 700px;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  box-sizing: border-box;
}
